.rounded {
  border-radius: 1rem !important;
}

.caption-style {
  padding: 20px 0px;
  text-align: center;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  bottom: 8px;
  width: 100%;
}
.orange {
  background: #FFBD3E;
}
.blue {
  background: #3F90FC;
}
.darkBlue {
  background: #421FCF;
}
.red {
  background: #FF7044;
}