.border-style {
  border-radius: 10px;
}

ul>li {
  list-style-type: none;
}

.title-style {
  background: #e8e8e8;
  padding: 1rem;
  border-radius: 15px;
}

.margin {
  margin-right: 40px;
}
.space{
  width: 210px;
  margin-left: 110px;
}

.between {
  cursor: pointer;
  margin-left: 40px;
}

input.form-control {
  border: 1px solid #c1baba;
}

label {
  font-weight: bold;
}