.box-style {
  border: 1px solid #c7c7c7;
  padding: 40px;
  background: white;
}
input.form-control {
  border: none;
  border-bottom: 1px solid #c1baba;
  padding: 6px 0px;
  font-weight: 600;
}

input.form-control:focus {
  box-shadow: none;
}